<div class="mx-3">
  <%= form_with(model: @bug) do |f| %>
    <div class="mb-3">
      <%= f.label :title, class: 'form-label' %><br>
      <%= f.text_field :title, class: 'form-control', :required => true %>
    </div>

    <div class="mb-3">
      <%= f.label :description, class: 'form-label' %><br>
      <%= f.text_area :description, class: 'form-control', :required => true %>
    </div>

    <div class="mb-3">
      <%= f.label :deadline, class: 'form-label' %><br>
      <%= f.date_field :deadline, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :screenshot, class: 'form-label' %><br>
      <%= f.file_field :screenshot, class: 'form-control', accept:'image/png,image/gif' %>
    </div>

    <div class="mb-3">
      <%= f.label :nature, "Feature", value: "feature", class: 'form-label' %>
      <%= f.radio_button :nature, "feature" %><br />
      <%= f.label :nature, "Bug", value: "bug", class: 'form-label' %>
      <%= page == "new" ? (f.radio_button :nature, "bug", checked: true) : (f.radio_button :nature, "bug") %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>