<h1 class="text-center"><%= @bug.title %></h1>
<p class="text-center"><%= @bug.description %></p>
<p class="text-center"><%= @bug.deadline %></p>
<p class="text-center"><%= @bug.nature %></p>
<p class="text-center"><%= @bug.status %></p>
<p class="text-center"><%= @bug.created_at %></p>